{% extends "evangile/base.html.twig" %}



{% block title %}

<br/>
    <br/>
    <br/>
<h1 style="font-size: 46px">...un fossé nous sépare</h1>
<hr class="small">
<span class="subheading">Evangile de Jésus-Christ</span>
{% endblock title %}


{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for article in articles %}
                <div class="post-preview">
                    <a href="{{ url(article.route) }}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                    </a>
                    <p class="post-meta">
                    Posted by <a href="#">{{ article.author }}</a> le {{ article.created|date('d/m/Y') }}
                    </p>
                </div>
                <hr>
                {% endfor %}
                
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}