{% set background = "img/ryan-wilson-6626.jpg" %}

{% extends "evangile/base.html.twig" %}

{% block title %}
    <h1 style="font-size: 38px">A propos de nous</h1>
    <h2 class="subheading"></h2>
    <span class="meta">Posted by <a href="#">Harry</a> Février 17, 2017</span>
{% endblock title %}


{% block content %}
    <div class="container">
    <div class="row">
<h4 class="#" style="#"><br>Que les États-Unis aient une stratégie de domination continentale, et qu’ils s’apprêtent à livrer une aventure militaire contre les peuples d’Amérique latine, nous l’avons dit plusieurs fois. Quelques-uns nous ont pris au sérieux et ont ratifié une volonté antiimpérialiste qui doit aujourd’hui se concrétiser. D’autres, en revanche, gardent silence, peut-être avec l’idée que notre affirmation était exagérée et répondait au style de confrontation classique de ce qu’ils appellent « la gauche traditionnelle ».</h4>
Que les États-Unis aient une stratégie de domination continentale, et qu’ils s’apprêtent à livrer une aventure militaire contre les peuples d’Amérique latine, nous l’avons dit plusieurs fois. Quelques-uns nous ont pris au sérieux et ont ratifié une volonté antiimpérialiste qui doit aujourd’hui se concrétiser. D’autres, en revanche, gardent silence, peut-être avec l’idée que notre affirmation était exagérée et répondait au style de confrontation classique de ce qu’ils appellent « la gauche traditionnelle ».</br>
    
<br><b><font color="blue"><u>2 Thessalonians 2:3-4 </u> (KJV)</font></b></br>

<br> 3 - <u>Let no man deceive you by any means</u>: for that day shall not come, except there come a falling away first, and that man of sin be revealed, the son of perdition;</br>

4 - Who opposeth and exalteth himself above all that is called God, or that is worshipped; so that he as God sitteth in the temple of God, shewing himself that he is God.
2 - Thessalonians 2:3-4King James Version (KJV)

3 -Let no man deceive you by any means: for that day shall not come, except there come a falling away first, and that man of sin be revealed, the son of perdition;

4 - Who opposeth and exalteth himself above all that is called God, or that is worshipped; so that he as God sitteth in the temple of God, shewing himself that he is God.
    </div>
    </div>
{% endblock content %}