{% set background = "img/kelsey-johnsen-727.jpg" %}

{% extends "evangile/base.html.twig" %}

{% block title %}
    <h1 style="font-size: 38px">Ignace</h1>
    <h2 class="subheading"></h2>
    <span class="meta">Posted by <a href="#">Harry</a> Février 17, 2018</span>

    
{% endblock title %}


{% block content %}
    <div class="container">
    <div class="row">

<p>Ignace d'Antioche  35 -110 né en Syrie mort en Martyre à Rome<p/> 
- Il connaissait Pierre et Jean -  il est surtout connu pour ses lettres apostoliques, associant le martyre pour la Foi aux grains de blé moulus pour devenir le pain de l'Eucharistie. Il connait Polycarpe de Smyrne qui connaissait St Jean. Selon Ignace, l'évêque a la puissance ultime et devrait être obéi absolument. Considérez ces extraits de ses lettres: « Tous suivent l'évêque comme Jésus-Christ
 suit le Père… personne ne doit faire quoi que ce soit dans l'Église sans l’évêque…
  là où l'évêque apparaît, là est le peuple …. Vous ne devez jamais agir
   indépendamment de votre évêque et clergé. Vous devriez regarder à votre 
   évêque comme type du Père… celui qu'il approuve, cela est agréable à Dieu… »
    D’après Ignace, l'évêque tient la place de Dieu tandis que les prêtres 
    tiennent lieu des douze apôtres.[27]Il incombait seulement à 
    l'évêque de célébrer le Repas du Seigneur, de diriger les baptêmes, 
    de donner des Conciles, de discipliner des membres de l'Église, d'approuver des mariages, et de prêcher des sermons.
     [28]Ceci est hitoriquement reconnu comme le « monoepiscopate » ou « épiscopat monarchique. » 
     C'est le type l'organisation où l'évêque se distingue des anciens (le presbytère) et 
     se range au-dessus d’eux.Marchant sur les traces d’Ignace d'Antioche, Cyprien prétendait que 
     l'organisation de l'Église devrait être modelée d’après celle de l'empire romain. 
     En conséquence, l'impérialisme et une hiérarchie irréfutable ont fait 
     irruption dans la foi chrétienne.
     Ainsi entre les années A.D. 100 et A.D. 300, la direction d'Église en est venue à être modelée d’après 
     la direction du gouvernement romain [79].
     Aussi, la hiérarchie de l’Ancien Testament a été employée pour la justifier.
      [80] La règle de l’évêque unique avait englouti le sacerdoce de tous les croyants.
       Ignace a efficacement fait de l'évêque l'autorité locale. Cyprien a fait de lui 
       un représentant de toutes les Églises par sa doctrine de succession apostolique.
       [81 A Treasury of Early Christianity, p. 301.]
       Ignace d'Antioche  35 -110 né en Syrie mort en Martyre à Rome - Il connaissait Pierre et Jean -  
       il est surtout connu pour ses lettres apostoliques, associant le martyre pour la Foi
        aux grains de blé moulus pour devenir le pain de l'Eucharistie.
         Il connait Polycarpe de Smyrne qui connaissait St Jean. 
         Selon Ignace, l'évêque a la puissance ultime et devrait être obéi absolument.
         Considérez ces extraits de ses lettres: « Tous suivent l'évêque comme Jésus-Christ suit le Père… personne ne doit faire quoi que ce soit dans l'Église sans l’évêque… là où l'évêque apparaît, là est le peuple …. Vous ne devez jamais agir indépendamment de votre évêque et clergé. Vous devriez regarder à votre évêque comme type du Père… celui qu'il approuve, cela est agréable à Dieu… » D’après Ignace, l'évêque tient la place de Dieu tandis que les prêtres tiennent lieu des douze apôtres.[27]Il incombait seulement à l'évêque de célébrer le Repas du Seigneur, de diriger les baptêmes, de donner des Conciles, de discipliner des membres de l'Église, d'approuver des mariages, et de prêcher des sermons. [28]Ceci est hitoriquement reconnu comme le « monoepiscopate » ou « épiscopat monarchique. » C'est le type l'organisation où l'évêque se distingue des anciens (le presbytère) et se range au-dessus d’eux.Marchant sur les traces d’Ignace d'Antioche, Cyprien prétendait que l'organisation de l'Église devrait être modelée d’après celle de l'empire romain. En conséquence, l'impérialisme et une hiérarchie irréfutable ont fait irruption dans la foi chrétienne.Ainsi entre les années A.D. 100 et A.D. 300, la direction d'Église en est venue à être modelée d’après la direction du gouvernement romain [79].Aussi, la hiérarchie de l’Ancien Testament a été employée pour la justifier. [80] La règle de l’évêque unique avait englouti le sacerdoce de tous les croyants. Ignace a efficacement fait de l'évêque l'autorité locale. Cyprien a fait de lui un représentant de toutes les Églises par sa doctrine de succession apostolique.[81 A Treasury of Early Christianity, p. 301.]<p/>


<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EGw40C4d8h8"></iframe>
</div>

    </div>
    </div>
{% endblock content %}