{% set background = "img/web-agency-29200.jpg" %}

{% extends "evangile/base.html.twig" %}


{% block title %}
    <br/>
    <br/>
    <br/>
    <h1>REBORN</h1>
    <p class="lead">
    Un text d'accroche
    </p>
    <div class="meta pull-right">Posted by <a href="#">Harry</a> Février 17, 2017</span>
{% endblock title %}

{% block content %}
    <div class="container">
    <div class="row">
    <p>
    Ceci est un test pour Harry.
    </p>
    <p>
        ca devrait etre plus simple que ça
    </p>

    </div>
    </div>
{% endblock content %}