{% set background = "img/web-agency-29200.jpg" %}

{% extends "evangile/base.html.twig" %}

{% block title %}
    <h1 style="font-size: 36px">Tertulien</h1>
    <h2 class="subheading"></h2>
    <span class="meta">Posted by <a href="#">Harry</a> Février 17, 2017</span>
{% endblock title %}


{% block content %}
    <div class="container">
    <div class="row">
    
    
    <p>Tertulien et sa doctrine: Nous sommes entre 150 et 200 AD pour voir les coutumes des premiers chrétiens et comment ils s'organisent ensemble dans les repas des agapes pour s’édifier en Christ. Les écrits de Tertullien sont très direct et adresser à l’Empire Romain de l’époque. Loins et proche parfois dans l’argumentation des écrits de Paul bien qu’il ne reconnaissait que les évangiles des apôtres et leurs épîtres. Il reconnaissait apparement Paul par les lettre de Luc mais ce qui me semble le plus étrange c’est la discrétion des écrits de Paul parmis eux et parmis les premiers chrétiens. Aussi, je comprends mieux pourquoi Paul en prison à Rome mentionne que tous l’ont abandonné, il n’avait que Jésus-Christ, c’est lui qui le dit. Alors je veux bien que l'on parle de Pères de l'Église juste après la morts des Apôtres de références tels que nous les voyons dans les évangiles ou les canons que les pères et Constantin ont sélectionné au premier concil de Nicée en 325 AD.</p>

    <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EGw40C4d8h8"></iframe>
</div>

    </div>
    </div>
{% endblock content %}